<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Fresh Discriminatorについて</title>
        <link rel="stylesheet" href="../static/about.css">
    </head>
    <body>
        <header class="header">
            <h1 class="logo">
                <a href="/">Fresh Discriminator</a>
            </h1>
        <nav class="global-nav">
            <div class="nav-item active"><a href="/">HOME</a></div> 
            <div class="nav-item active"><a href="/about">ABOUT</a></div>           
        </nav>
        </header>
        <div class="info">
            <div class="text">
                <p>このサイトは機械学習を用いて生鮮食品が新鮮かどうか見分けるためのサイトです。</p>
                <p>新鮮なものとそうでないものの画像を学習させて作成したモデルを用いて</p>
                <p>入力した画像に写る生鮮食品が新鮮かどうか判別します。</p>
            </div>
        </div>
    </body>
</html>